[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-imap-notes
Exec=harbour-imap-notes
Name=IMAP Notes
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=IMAP Notizen

[X-Sailjail]
OrganizationName=harbour-imap-notes
ApplicationName=harbour-imap-notes
# Add the required permissions here
Permissions=
